/*font-family: 'Gentium Plus', serif;
font-family: 'Joan', serif;
font-family: 'Nuosu SIL', serif;
font-family: 'PT Sans', sans-serif;*/

/*----Back Ground Colour----*/
body
{
 background-color:#F2F2F2;
}
.box
{
    border: #000 solid 1px;
    padding: 10px;
}
/*----Layout----*/
.wrapper
{
    display:grid;
    grid-template-columns: 162px 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "l b b"
    "n n n"
    "m m rs"
    "f f f";
    grid-gap: 5px;
}
/*----logo----*/
.logo
{
    grid-area: l;
    background-image:url(../images/guitar_white.png) ;
    height:142px;
}
/*----banner----*/
.banner
{
    grid-area: b;
    background-color:#262626;
    text-align: center;
    font-size:105px ;
    font-family: 'Joan', serif;
    color: #fff;
        
}
/*----Navagation----*/
.nav
{
    grid-area: n;
    background-color:#646464;
    color:#000;
    font-size: 15px;
}
/*----Main Box----*/
.main
{
    grid-area: m;
    background-color:#8C8C8B;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
/*----Right Side Box----*/
.right-side
{
    grid-area: rs;
    
    background-color:#BFBFBF;
}
/*----Footer----*/
.footer
{
    grid-area: f;
    color: #BFBFBF;
    background-color:#262626;    
    text-align: right;
    font-size: 13px;
}
/*---Navagation Text Formating---*/
.nav a:link, a:visited
{
    color:#000;
    text-decoration: none;

}
.nav a:hover
{
    color:#F2F2F2
}
/*---Rigth-side Text Formating---*/
.right-side a:link a:visited
{
color:#000;
}
.right-side a:hover
{
    color:#000; 
}
/*center content in a div*/
.center-content
{
    text-align: center;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text],input[type=email] , select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #8C8C8B; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #262626;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #16acf2;
  }
  /*----Blue Guitar----*/
.blueg
{
    /* MIGHT CHANGE YET */
    grid-area: l;
    background-image:url(../images/blue_guitar.jpg) ;
    height:142px;
}
.circle
{
    border-radius: 50%;
    display: block ;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 104px 2px 203px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 104px 2px 203px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 104px 2px 203px 0px rgba(0,0,0,0.75);
}
.pic{
    grid-area: rs;
    background-image:url(../images/white_guitar.png) ;
    height:142px;
}
  
