/*----Back Ground Colour----*/
body
{
 background-color:#F2F2F2;
}
/*----Layout----*/
.wrapper
{
    display:grid;
    grid-template-columns: 162px 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "l b b"
    "n n n"
    "m m rs"
    "f f f";
    grid-gap: 5px;
}
/*----logo----*/
.logo
{
    grid-area: l;
    background-image:url(../images/guitar_white.png) ;
    height:142px;
}
/*----banner----*/
.banner
{
    grid-area: b;
    background-color:#262626;
    text-align: center;
    font-size:105px ;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    
}
/*----Navagation----*/
.nav
{
    grid-area: n;
    background-color:#404040;
    color:#000;
    font-size: 15px;
}
/*----Main Box----*/
.main
{
    grid-area: m;
    background-color:#8C8C8B;
    font-size: 12px;
    
}
/*----Right Side Box----*/
.right-side
{
    grid-area: rs;
    
    background-color:#BFBFBF;
}
/*----Footer----*/
.footer
{
    grid-area: f;
    color: #BFBFBF;
    background-color:#262626;    
    text-align: right;
    font-size: 13px;
}
